<nav class="navbar navbar-inverse navbar-static-top" role="navigation" data-sly-use.topNavigation="com.icfolson.aem.circuit.models.components.content.TopNavigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${topNavigation.brandPage.path}.html">${topNavigation.brandPage.title}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav" data-sly-list.link="${topNavigation.links}">
                <li class="${link.active ? 'dropdown active' : 'dropdown'}">
                    <a href="${link.path}.html" class="dropdown-toggle" role="button" aria-expanded="false">${link.title}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>