#CQ label {
    color: inherit;
    margin: 0;
    display: inline;
    font: 12px tahoma, arial, helvetica, sans-serif;
}

#CQ fieldset legend {
    width: auto;
    margin: 0;
    border: 0;
}

#CQ input,
#CQ textarea,
#CQ select {
    border: 0;
    min-width: 0;
}